<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>menuList</title>
	<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="0">
</head>
<body>
	<form action="edit.htm" method="post">
	<input type="hidden" name="id" value="$!{menu.id}">
	<table>
		<tr>
			<td>name</td>
			<td>$!{menu.name}</td>
		</tr>
		<tr>
			<td>memo</td>
			<td>$!{menu.memo}</td>
		</tr>
		<tr>
			<td colspan="2"><input type="button" onclick="window.close();" value="关闭"></td>
		</tr>
	</table>
	</form>
</body>
</html>